/* You can add global styles to this file, and also import other style files */


body, html{
    background-image: url("./assets/background.png");
    background-color: rgba(19, 15, 15,);
    background-size: cover;
    color: white;
    
}

*{
    font-family: Helvetica, sans-serif;
    
}