.toyListContainer
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h4
{
    color: white;
}
.toyList
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.toyName
{
    height: 80px;
    margin-top: 16px;
}

.toyCard
{
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

img
{
    width: 90%;
}

button
{
    align-self: flex-end;
}


