<div class="jumbotron" [@fade]>
  <div class="title">
    <img src="/assets/one.png" class="img" />
    <h1 class="display-4">Secret Santa !</h1>
  </div>
    <hr class="my-4">
    <div class="txt">Du 01/12 au 24/12, nous organisons plusieurs Secret Santas dans toute la France ! Apportez les jouets que vos enfants n’utilisent plus, mettez-les dans la hotte du père Noël et recevez un cadeau mystère en retour !</div>
    <button class="button" href="#" role="button" routerLink="/event">Participer</button>
  </div>
