.jumbotron{
	background:rgba(28, 65, 19, 0.5);
	border-radius: 8px;
	box-shadow: -1px 1px 5px 9px rgba(245, 245, 245, 0.9);
	margin-top: 5%;
	width: auto;
}


.jumbotron a, p, h1 {
    font-size: 40px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-left: 20px;
}

.button{
	margin:auto;
	margin-top: 50px;
    display:block;
    box-shadow:inset 0px 0px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #264518 5%, #5ea33b 100%);
	background-color:#264518;
	border-radius:7px;
	border:2px solid #508535;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
  }
  
  .button:hover {
    background:linear-gradient(to bottom, #5ea33b 5%, #264518 100%);
	background-color:#5ea33b;
  }
  .button:active {
    position:relative;
	top:1px;
  }

.txt {
    font-size: 30px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}