.exchangecreationcontainer
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

form
{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    border-radius: 5px;
}

h3
{
    margin: 20px;
    color: white;
}

