<div class="exchangecreationcontainer">
    <h3>J'offre une nouvelle vie à un jouet</h3>
   
    <form [formGroup]="addToyForm" (ngSubmit)="addToy()">
        <label class="title">Titre</label>
        <input type="text"  id="toyName" formControlName ="name" aria-describedby="nameHelp">
        <small id="nameHelp" class="form-text text-muted">Donne un titre accrocheur à ton jouet</small><br/>
        <label>Photo</label>

        <input type="file" class="custom-file-input" id="exampleFormControlFile1" formControlName ="image" aria-describedby="imgHelp" (change)="onFileSelect($event)">
        <small id="imgHelp" class="form-text text-muted">Prend une jolie photo de ton jouet</small><br/>
        <label>Description</label>
        <input type="textarea" id="toyDesc" formControlName ="desc" aria-describedby="descHelp" p>
        <small id="toyDesc" class="form-text text-muted">Dis nous pourquoi ton jouet est spécial</small><br/>
        <label>Si ton jouet ne trouve pas preneur, à quelle association voudrais-tu le confier ?</label>
        <select id="toyAsso" formControlName ="charity">
            <option *ngFor="let charity of charities" value="{{ charity.id }}">{{ charity.name }}</option>
        </select>
        <br/>
        <div class="twoButtons">
            <button type="submit" class="button" >Valider</button>
            <a routerLink="/exchangelist"><button type="button" class="button">Annuler</button></a>
        </div>
    </form>
   
   
</div>