<div class="exchangecreationcontainer">
    <h3>J'offre une nouvelle vie à un jouet</h3>
    <form [formGroup]="addToyForm" (ngSubmit)="addToy()">
        <label>Titre</label>
        <input type="text" class="form-control" id="toyName" formControlName ="name" aria-describedby="nameHelp" placeholder="Titre de ton jouet">
        <small id="nameHelp" class="form-text text-muted">Donne un titre accrocheur à ton jouet</small><br/>
        <label>Photo</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName ="image" aria-describedby="imgHelp">
        <small id="imgHelp" class="form-text text-muted">Prend une jolie photo de ton jouet</small><br/>
        <label>Description</label>
        <input type="text" class="form-control" id="toyDesc" formControlName ="desc" aria-describedby="descHelp" placeholder="Description">
        <small id="toyDesc" class="form-text text-muted">Dis nous pourquoi ton jouet est spécial</small><br/>
        <label>Si ton jouet ne trouve pas preneur, à quelle association voudrais-tu le confier ?</label>
        <select class="form-control" id="toyAsso">
            <option *ngFor="let charity of charities" value="{{ charity.id }}" formControlName ="charity">{{ charity.name }}</option>
        </select>
        <br/>
        <button type="submit" class="btn btn-success" >Valider</button>
    </form>
</div>