<div class="container">
    <div class="content"></div>
    <footer class="row">
      <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
        <ul class="row">
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://www.iconsdb.com/icons/preview/white/twitter-xxl.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://www.iconsdb.com/icons/preview/white/facebook-xxl.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://www.iconsdb.com/icons/preview/white/snapchat-2-xxl.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://www.iconsdb.com/icons/preview/white/instagram-xxl.png">
            </a>
          </li>
        </ul>
      </div><!-- Ende Sozial media -->
      
      <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
        <p> &copy; Me from now to eternity </p>
      </div><!-- Ende Copyright -->
      
      <div class="impressum col-xs-12 col-sm-3 col-sm-pull-6">
        <p> An impressive impressum </p>
        <p> Adresse und so </p>
      </div><!-- Ende Impressum -->
    </footer>
  </div>