.container{
    display: flex;
    justify-content: space-between;
}
.card-img-top{
    height: 300px;
    max-width: 300px; 
    overflow: hidden;
}
.bigcard{
margin: auto;
padding: 20px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}


.modal-body{
    display: flex;
    justify-content: space-around;
}
.imageModal{
    width: 200px;
}
.textModal{
    padding: 15px;
}
.modal-footer{
    justify-content: center;
}