<div class="container" style="width: 80rem;">
<div class="card" style="width: 18rem;"*ngFor= "let event of events">
    <img src={{event.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">{{event.date}}</p>
      <button href="#" class="btn btn-primary" (click)="showDetails(event)">Détails</button>
    </div>
  </div>
</div>
<div class="bigcard" style="width: 70rem;"*ngIf="newEvent">
    <img src={{newEvent.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{newEvent.name}}</h5>
      <p class="card-text">{{newEvent.date}}</p>
      <p class="card-text">{{newEvent.description}}</p>
      <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">S'inscrire</button>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <img src="/assets/images/cadeau-noel-lyon-food-cuisine.png" alt="cadeauNoel" width="500px"class="imageModal">
      <div class="textModal">
      <h2>Félicitations, vous êtes enregistrées.</h2>
      <p>Nous vous attendons avec impatience pour ce grand moment de partage!</p>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="comeHome()">Revenir à la page d'accueil</button>
      </div>
    </div>
  </div>
</div>