.custom-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 7%;
    
}

.imageCut{
    justify-content: center;
    padding: 1%;
    margin-top: 5%;
    width: 30%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(245, 245, 245, 0.7);
    border:solid 1px whitesmoke;
    background:rgba(28, 65, 19, 0.5);
}
.card-img-top{
    height: 300px;
    max-width: 300px; 
    overflow: hidden;
}
.bigcard{
margin: auto;
padding: 20px;
color: white;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    transition: all 0.5s ease;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}

.buttonMain{
    margin:auto;
	margin-top: 50px;
    display:block;
    box-shadow:inset 0px 0px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #264518 5%, #5ea33b 100%);
	background-color:#264518;
	border-radius:7px;
	border:2px solid #508535;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:20px 40px;
    text-decoration:none;
    transition: all 0.5s ease;
  }
  
  .buttonMain:hover {
    background:transparent !important;
    border: 2px solid darkred;
    color: darkred;
  }

  
  img{
      width: 100%;
      border-radius: 7px;
  }

   .eventDetails {
      font-size: 2.5vh;
      padding-top: 20px;
      text-align: center;
      color: whitesmoke;
      font-family: Helvetica, sans-serif;
  }

  .popUpContainer{
 
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    margin: auto;
    margin-bottom: 100px;
    width: 50%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(245, 245, 245, 0.7);
    border:solid 1px whitesmoke;

  }

  .popUpContainer img{
      
      width: 70%;
      
  }

  h5{
    margin-top:2%;
    font-size: 25px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    text-align: center;
  }

  p{
    font-size:25px;
    text-align: center;
    color: whitesmoke;
  }

  .button{
	margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display:block;
    box-shadow:inset 0px 0px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #264518 5%, #5ea33b 100%);
	background-color:#264518;
	border-radius:7px;
	border:2px solid #508535;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
  }
  
  .button:hover {
    background:linear-gradient(to bottom, #5ea33b 5%, #264518 100%);
	background-color:#5ea33b;
  }
  .button:active {
    position:relative;
	top:1px;
  }


