<h1>Mon Compte</h1>
<div>
    <h2>Mes informations :</h2>
        <h3>Mon pseudo :</h3>
        <p>Mon nom :</p>
        <p>Mon prénom :</p>
    <h2>Mes inscriptions au Secret Santa :</h2>
    <div class="bigcard" style="width: 70rem;"*ngIf="newEvent">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <button href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Supprimer</button>
        </div>
      </div>
    <h2>Je donne</h2>
    <h2>Je veux</h2>

</div>