<div class="logoContainer">
<img alt="bigLogoSolders" src="../../../assets/big_logo1.png" class="mainLogo" [@slideInLeft] (click)="changeState()">
<img alt="bigLogoSolders" src="../../../assets/big_logo2.png" class="mainLogo" [@slideInRight] (click)="changeState()">
</div>
<div class="txt">En cette période de fête et de partage soyez responsable ! Offrez une seconde vie aux jouets de vos enfants !</div>
<div class="container-fluid">
    <div data-aos="fade-in"> 
        <app-etape1></app-etape1>
    </div>

    <div data-aos="fade-in" data-aos-delay="50">
        <app-etape2></app-etape2>
    </div>

    <div data-aos="fade-in">
        <app-etape3></app-etape3>
    </div>
</div>
