.img{
    width: 200px;
    /*height: 250px;*/
}

.assos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;  
    align-content: space-around;
    width: 90%;
}

.eachasso {
    display: flex;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

.jumbotron{
	background:rgba(145, 66, 63, 0.5);
	border-radius: 8px;
	box-shadow: -1px 1px 5px 9px rgba(245, 245, 245, 0.9);
	margin-top: 5%;
    width: 90%;
    font-size: 35px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    text-align: center;
}