<div class="jumbotron" [@fade]>
  <div class="title">
    <img src="/assets/two.png" class="img" />
    <h1 class="display-4">Échanger vos jouets !</h1>
  </div>
  <hr class="my-4">
  <div class="txt">Votre enfant n’a pas trouvé son bonheur pendant nos Secret Santas ? Il n’est pas satisfait par un de ces cadeaux de Noël ? Jusqu’au 31/12 proposez des jouets à échanger avec d’autres utilisateurs !</div>
  <button class="button" href="#" role="button" routerLink="/exchangecreation">Échanger</button>
</div>
