

#navbar{
border-radius: 8px;
box-shadow: 2px 5px rgba(245, 245, 245, 0.9);
padding: 10px;
height: 150px;
opacity: 0.8;

}

#logo{
    width:100px;
}

.nav-item a{
    font-size: 20px;
    font-weight: 900;
    color: rgb(141, 39, 37);
    font-family: Helvetica, sans-serif;   
    margin-left: 20px;
    opacity: 1 !important;
    
}

.nav-item a:hover{
    color: rgb(41, 105, 25) !important;
    border: 1px solid rgb(41, 105, 25);
    border-radius: 8px;
    font-size: 30px;
    transition: all 0.5s ease;
}
